# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/
.mti-unpam-chatbot/
conda-meta/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Data temporary
*.tmp
*.bak

# Model artifacts optional
models/*.pkl
models/*.joblib

# Cache
.cache/